
main_check.ipynb
02_Webinars/1. SPE GeoHackathon_Intro.pptx
02_Webinars/1. SPE GeoHackathon_Intro_links/1. SPE GeoHackathon_Intro_links.docx
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S0375650519303785-mainext.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S0375650521000018-main.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S0960148117307176-main.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S096014812100327X-main.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S0960148121010223-main.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S1364032114003578-main.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/1-s2.0-S1364032117313345-main.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/review-of-induced-seismicity-in-geothermal-systems-worldwide-and-implications-for-geothermal-systems-in-the-netherlands.pdf
02_Webinars/1. SPE GeoHackathon_Intro_links/Papers/s40517-021-00193-0_economic and fault stability analysis.pdf
02_Webinars/11. Geothermal Engineering_Practical.ipynb
02_Webinars/12. DigitalHub_End2End_DataScience_S.Lee.pdf
02_Webinars/13. DARTS_D.Voskov.pdf
02_Webinars/2. Geothermal Intro_A.Daniilidis.pdf
02_Webinars/3. Intro_to_R_pt.1_S. Rao.pdf
02_Webinars/4. Introduction to Digital Hub_H.Rezaei.pdf
02_Webinars/5. Introduction_to_ ML(Part1)_P.ShoeibiOmrani.pdf
02_Webinars/6. Introduction_to_ML(Part2)_G.Formato.pdf
02_Webinars/7._Intro_to_R_pt.2_S._Rao.pdf
02_Webinars/Halliburton webinars/Nov 1 Day 1/composite.csv
02_Webinars/Halliburton webinars/Nov 1 Day 1/Facies_well1.csv
02_Webinars/Halliburton webinars/Nov 1 Day 1/supervised machine learning - Regression.html
02_Webinars/Halliburton webinars/Nov 1 Day 1/USV_Kmean_elbow_final.html
02_Webinars/Halliburton webinars/Nov 2 Day 2/HSE Riskdata.csv
02_Webinars/Halliburton webinars/Nov 2 Day 2/NLP_Beginner_Bootcamp-SPE.html
02_Webinars/Halliburton webinars/Nov 3 Day 3/allstate.xlsx
02_Webinars/Halliburton webinars/Nov 3 Day 3/Data_Visualization_using_PlotlyDash.html
02_Webinars/Halliburton webinars/Nov 3 Day 3/production_well_cleaned.csv
DigitalHub/Reply_to_promocode_request.pdf
Bootcamp_ML/Bootcamp_MachineLearning2-main/stock_prices.csv
Bootcamp_ML/Bootcamp_MachineLearning2-main/sonar.csv
Bootcamp_ML/Bootcamp_MachineLearning2-main/pima-indians-diabetes.csv
Bootcamp_ML/Bootcamp_MachineLearning2-main/international-airline-passengers.csv
Bootcamp_ML/Bootcamp_MachineLearning2-main/housing.csv
Bootcamp_ML/Bootcamp_MachineLearning2-main/holmes.txt
Bootcamp_ML/Bootcamp_MachineLearning2-main/09_keras - LSTM - time series.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/08_keras - RNN_Stock_prices.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/07_keras-MLP Crossvalidation.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/06_keras-MLP Crossvalidation (manual).ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/05_keras - MLP - Pipeline.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/04_keras-MLP.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/03_keras - Grid Search (scikit-learn).ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/02_keras - Regression  (plot history)_NO.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/01_keras-intro.ipynb
Bootcamp_ML/Bootcamp_MachineLearning2-main/00_keras - metrics (history).ipynb
Bootcamp_ML/Bootcamp_MachineLearning1/regression_example/well_test_virtual_metering.txt
Bootcamp_ML/Bootcamp_MachineLearning1/regression_example/Regression_example_WT.ipynb
Bootcamp_ML/Bootcamp_MachineLearning1/README.md
Bootcamp_ML/Bootcamp_MachineLearning1/clustering_example/index.php
Bootcamp_ML/Bootcamp_MachineLearning1/clustering_example/Clustering.ipynb
Bootcamp R/Bootcamp R scripts/Pipe and GGplot.R
Bootcamp R/Bootcamp R scripts/packages - install load.R
Bootcamp R/Bootcamp R scripts/LICENSE
Bootcamp R/Bootcamp R scripts/copy-of-2014-2020-field-equity-shares-june-2021.xlsx
Bootcamp R/Bootcamp R scripts/Bootcamp R scripts.Rproj
Bootcamp R/Bootcamp R scripts/Basics.R
Bootcamp R/Bootcamp R scripts/.Rproj.user/shared/notebooks/paths
Bootcamp R/Bootcamp R scripts/.Rproj.user/shared/notebooks/patch-chunk-names
Bootcamp R/Bootcamp R scripts/.Rproj.user/shared/notebooks/A671AA91-Basics/1/B27E20E53A8A0CF2/chunks.json
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/prop/INDEX
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/prop/60DEA759
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/prop/19FE8A95
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/prop/129D32EA
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/per/t/5916B796-contents
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/per/t/5916B796
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/per/t/3289A048-contents
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/sources/per/t/3289A048
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/saved_source_markers
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/rmd-outputs
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/pcs/workbench-pane.pper
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/pcs/windowlayoutstate.pper
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/pcs/source-pane.pper
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/pcs/files-pane.pper
Bootcamp R/Bootcamp R scripts/.Rproj.user/B27E20E5/console06/INDEX001
Bootcamp R/Bootcamp R scripts/.Rhistory
Bootcamp R/Bootcamp R scripts/.RData
01_GeoRocks/Templates/Team Username map rev1-timetable.xlsx
01_GeoRocks/Templates/JupyterHub_and_Darts_User_Instructions_rev2_2_Dec_21.docx
01_GeoRocks/Templates/20211130 GeoHackathon Report Template.docx
01_GeoRocks/Templates/20211129_GeoHackathon_FDP_Close_Out _Template.pptx
01_GeoRocks/Jupyter/02_Econ_10Years/time_data.xlsx
01_GeoRocks/Jupyter/02_Econ_10Years/LICENSE
01_GeoRocks/Jupyter/02_Econ_10Years/fig_ppower.PNG
01_GeoRocks/Jupyter/02_Econ_10Years/fig_ploop.PNG
01_GeoRocks/Jupyter/02_Econ_10Years/fig_LCOH.PNG
01_GeoRocks/Jupyter/02_Econ_10Years/fig_costs.PNG
01_GeoRocks/Jupyter/02_Econ_10Years/Econ_D2.ipynb
01_GeoRocks/Jupyter/02_Econ_10Years/Econ_D1.ipynb
01_GeoRocks/Jupyter/02_Econ_10Years/.ipynb_checkpoints/Econ_D2-checkpoint.ipynb
01_GeoRocks/Jupyter/02_Econ_10Years/.ipynb_checkpoints/Econ_D1-checkpoint.ipynb
01_GeoRocks/Jupyter/01_DARTS_20Years/time_data.xlsx
01_GeoRocks/Jupyter/01_DARTS_20Years/run_DARTS.ipynb
01_GeoRocks/Jupyter/01_DARTS_20Years/main.pdf
01_GeoRocks/Jupyter/01_DARTS_20Years/main.ipynb
01_GeoRocks/Jupyter/01_DARTS_20Years/darts_time_data.pkl
01_GeoRocks/Jupyter/01_DARTS_20Years/darts-0.1.0-cp39-cp39-linux_x86_64.whl
01_GeoRocks/Jupyter/01_DARTS_20Years/dap_model.GRDECL.PORO.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/dap_model.GRDECL.PERMX.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/dap_model.GRDECL.DZ.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/dap_model.GRDECL.DY.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/dap_model.GRDECL.DX.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/dap_model.GRDECL.DEPTH.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/CASE_GRID.GRDECL.ZCORN.cache
01_GeoRocks/Jupyter/01_DARTS_20Years/CASE_GRID.GRDECL.COORD.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/time_data.xlsx
01_GeoRocks/Jupyter/01_DARTS_10Years/run_DARTS.ipynb
01_GeoRocks/Jupyter/01_DARTS_10Years/main.pdf
01_GeoRocks/Jupyter/01_DARTS_10Years/main.ipynb
01_GeoRocks/Jupyter/01_DARTS_10Years/darts_time_data.pkl
01_GeoRocks/Jupyter/01_DARTS_10Years/darts-0.1.0-cp39-cp39-linux_x86_64.whl
01_GeoRocks/Jupyter/01_DARTS_10Years/dap_model.GRDECL.PORO.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/dap_model.GRDECL.PERMX.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/dap_model.GRDECL.DZ.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/dap_model.GRDECL.DY.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/dap_model.GRDECL.DX.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/dap_model.GRDECL.DEPTH.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/CASE_GRID.GRDECL.ZCORN.cache
01_GeoRocks/Jupyter/01_DARTS_10Years/CASE_GRID.GRDECL.COORD.cache
01_GeoRocks/GeoRocks.jpg
01_GeoRocks/20211215_GeoHackathon_Cost_Calc_GeoRocks.xlsx
01_GeoRocks/20211215_GeoHackathon_Report_GeoRocks_v3.docx
01_GeoRocks/20211215_GeoHackathon_Video_GeoRocks.mp4
01_GeoRocks/Data/E05_welllogs.txt
01_GeoRocks/Data/E06_welllogs.txt
01_GeoRocks/Data/I02_welllogs.txt
01_GeoRocks/Data/I02_welltest.txt
01_GeoRocks/Data/I03_welllogs.txt
01_GeoRocks/Data/I03_welltest.txt
01_GeoRocks/Data/P02_welllogs.txt
01_GeoRocks/Data/P02_welltest.txt
01_GeoRocks/Data/P03_welllogs.txt
01_GeoRocks/Data/P03_welltest.txt
01_GeoRocks/Data/Selection.xlsx
01_GeoRocks/Data/Surface_Maps_and_Cost_of_Data_for_Hackathon_24_Nov_21.pdf
01_GeoRocks/Jupyter/02_Econ_20Years/.ipynb_checkpoints/Econ_D1-checkpoint.ipynb
01_GeoRocks/Jupyter/02_Econ_20Years/.ipynb_checkpoints/Econ_D2-checkpoint.ipynb
